<% content_for :title, 'Contact Us' %>
<h1>Contact Us</h1>
<div class="row">
  <div class="medium-4 columns small-only-text-center">
    <%= image_tag 'logo.svg', alt: 'Summit Traffic Solutions' %>
  </div>
  <div class="medium-4 columns">
    <h2>Sales</h2>
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-building"></i>
        <p>
          <strong>Summit Traffic Solutions</strong><br />
          11757 W Ken Caryl Ave.<br />
          Suite F-411<br />
          Littleton, CO 80127
        </p>
      </li>
      <li>
        <i class="fa-li fa fa-phone"></i>
        <p>
          (303) 933-2843 (office)<br />
          (303) 717-1917 (cell)<br />
          (720) 836-4844 (fax)
        </p>
      </li>
      <li>
        <i class="fa-li fa fa-at"></i>
        <%= mail_to 'info@summit-traffic.com' %>
      </li>
    </ul>
  </div>
  <div class="medium-4 columns">
    <h2>Support</h2>
    <p>For technical support on any of our products please contact us at either:</p>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-phone"></i>(303) 933-2843</li>
      <li><i class="fa-li fa fa-at"></i><%= mail_to 'support@summit-traffic.com' %></li>
    </ul>
  </div>
</div>
