<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
		<title>Summit Traffic Solutions | Maintenance</title>
		<style>
			/* application.css */

			a img{
				border: none;
			}

			body {
				background: #fff url(/images/bkg_Page.png) repeat-x;
				color: #999;
				font-family: Verdana;
				margin: 0;
				padding: 0;
			}


			/* BANNER STYLES */

			#banner {
				height: 107px;
				margin: 0 auto;
				margin-bottom: 20px;	/* When there's no menu */
				text-align: center;
				width: 927px;
			}

			#banner h1 {
				background: transparent url(/images/banner_logo.png) no-repeat;
				height: 107px;
				margin: 0;
				padding: 0;
				text-align: center;
			}

			#banner h1 span {
				display: none;
			}


			/* BODY STYLES */

			#body {
				background: transparent url(/images/bkg_Body.png) repeat-x 0 82px;
				clear: both;
				margin: 14px auto 0 auto;
				min-height: 500px;
				padding: 0 50px;
				width: 800px;
			}

			#body a {
				color: #09f;
				text-decoration: none;
			}

			#body a:hover {
				text-decoration: underline;
			}

			#body h1#page_title {
				background: transparent url(/images/bkg_H1.png) no-repeat;
				color: #068;
				font-size: 20px;
				height: 20px;
				margin: 0 -50px 48px -50px;
				padding: 22px 30px 40px 30px;
				width: 840px;
			}

			#body h2 {
				color: #068;
				font-size: 14px;
				margin-bottom: 20px;
				margin-top: 40px;
			}

			#body h3 {
				color: #000;
				font-size: 14px;
				margin-bottom: 0;
			}

			#body h4 {
				color: #000;
				font-size: 12px;
				margin-bottom: -12px;
			}

			#body p {
				color: #000;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 20px;
			}

			#body h3 + p {
				margin-top: 6px;
			}

			#body #hero {
				clear: both;
				height: 450px;
				margin: 0 -50px 10px -50px;
				padding: 0;
				width: 900px;
			}


			/* FOOTER STYLES */

			#footer {
				border-top: 1px solid #ccc;
				clear: both;
				font-size: 12px;
				margin: 50px auto 50px auto;
				padding: 10px 0 0 0;
				width: 900px;
			}

			#footer #copyright {
				float: left;
			}

			#footer #links {
				color: #09f;
				float: right;
				padding-top: 5px;
			}

			#footer #links a {
				color: #999;
				text-decoration: none;
			}

			#footer #links a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
				
		<div id="banner">
			<h1><span>Summit Traffic Solutions</span></h1>
		</div> <!-- END banner -->
		
		<div id="body">
			<h1 id="page_title">Sorry for the inconvenience&hellip;</h1>
			<p>We are currently offline for <%= reason ? reason : "maintenance" %> as of <%= Time.now.strftime('%I:%M %p %Z') %>. We'll be back <%= deadline ? "by #{deadline}" : "shortly" %>. Please <a href="mailto:info@summit-traffic.com">send us an email</a> if you need to get in touch.</p>
			<p>Thank you for your patience.</p>
		</div> <!-- END body -->
		
		<div id="footer">
			<div id="copyright"><img src="footer_logo.png" alt="Summit Traffic Solutions" />&emsp;&copy; 2009 Summit Traffic Solutions. All rights reserved.</div>
			<div id="links"></div>
		</div> <!-- END footer -->
		
		<!-- BEGIN Google Analytics code -->
		
		<script type="text/javascript">
		//<![CDATA[
		
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			
		//]]>
		</script>
		<script type="text/javascript">
		//<![CDATA[
		
			try {
				var pageTracker = _gat._getTracker("UA-519048-8");
				pageTracker._trackPageview();
			} catch(err) {}

		//]]>
		</script>
		
		<!-- END Google Analytics code -->
	</body>
</html>