
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #09f; color:#fff; text-shadow: none; }
::selection { background:#09f; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #09f; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #09f; }
/*a:hover { color: #036; }*/

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

/* TAGS */
body { background: #fff url(/images/bkg_Page.png) repeat-x; font-family: Verdana; }
a { color: #09f; text-decoration: none; }
a:hover { text-decoration: underline; }
input, select, textarea { font-family: Verdana; }

/* ADMIN BAR */
div#admin_bar { background: #fc0 url(/images/bkg_AdminBar.png) repeat-x; height: 10px; left: 0; position: fixed; top: 0; width: 100%; }

/* CLASSES */
.blue { color: #068; }
.button, button, input[type="submit"], input[type="reset"] { background-color: #eee; border: 1px solid #ccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; padding: 6px 18px; text-shadow: 0 -1px 1px #ccc; white-space: nowrap; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover { background-color: #09f; border-color: #068; color: #fff; text-decoration: none; text-shadow: 0 -1px 1px #068; }
.delete, .delete:visited { color: #900 !important; }
.read_more { background: transparent url(/images/li_Bullet.png) no-repeat 0 6px; color: #09f !important; font-size: 12px !important; padding-left: 15px; }

/* SITE HEADER */
header#site_header { margin: 0 auto 16px auto; width: 927px; }
header#site_header h1 { background: transparent url(/images/banner_logo.png) 50% 50% no-repeat; height: 107px; }
header#site_header nav { margin: 0 auto; width: 904px; }
header#site_header nav ul li { display: block; float: left; }
header#site_header nav ul li a#home { background: transparent url(/images/btn_Home.png) no-repeat; height: 38px; width: 210px; }
header#site_header nav ul li a#home:hover,
header#site_header nav ul li a#home.selected { background-position: 0 -38px; }
header#site_header nav ul li a#products { background: transparent url(/images/btn_Products.png) no-repeat; height: 38px; width: 243px; }
header#site_header nav ul li a#products:hover,
header#site_header nav ul li a#products.selected { background-position: 0 -38px; }
header#site_header nav ul li a#news { background: transparent url(/images/btn_News.png) no-repeat; height: 38px; width: 211px; }
header#site_header nav ul li a#news:hover,
header#site_header nav ul li a#news.selected { background-position: 0 -38px; }
header#site_header nav ul li a#contact { background: transparent url(/images/btn_Contact.png) no-repeat; height: 38px; width: 239px; }
header#site_header nav ul li a#contact:hover,
header#site_header nav ul li a#contact.selected { background-position: 0 -38px; }

/* BODY */
#body { background: transparent url(/images/bkg_Body.png) repeat-x 0 82px; margin: 14px auto 0 auto; min-height: 500px; padding: 0 50px; width: 800px; }
#body h1#title { background: transparent url(/images/bkg_H1.png) no-repeat; color: #068; font-size: 20px; height: 20px; margin: 0 -50px 48px -50px; padding: 22px 30px 40px 30px; width: 840px; }
#body h2 { color: #068; font-size: 14px; margin-bottom: 10px; margin-top: 40px; }
#body h3 { color: #000; font-size: 14px; }
#body h4 { color: #000; font-size: 12px; margin-bottom: 0.5em; }
#body h3 + p { margin-top: 6px; }
#body p { /*color: #000;*/ font-size: 14px; line-height: 20px; margin-bottom: 20px; }

/* SITE FOOTER */
footer#site_footer { border-top: 1px solid #ccc; color: #999; font-size: 12px; margin: 50px auto 50px auto; padding: 10px 0 0 0; width: 900px; }
footer#site_footer #copyright { display: inline; }
footer#site_footer nav { float: right; margin-top: 5px; }
footer#site_footer nav ul li { border-left: 1px solid #ccc; display: inline; margin-left: 0.75em; padding-left: 0.75em; }
footer#site_footer nav ul li:first-child { border-left: none; }
footer#site_footer nav ul li a { color: #999; text-decoration: none; }
footer#site_footer nav ul li a:hover { text-decoration: underline; }

/* HOME PAGE */
#body div#hero { height: 450px; margin: 0 -50px 10px -50px; padding: 0; width: 900px; }
#body div.panel_row { height: 190px; margin: 0 -50px; width: 900px; }
#body div.panel_row div.panel { float: left; height: 190px; margin: 10px 0 20px 15px; padding: 0; width: 290px; }
#body div.panel_row div.panel:first-child { margin-left: 0; }
#body div.panel_row div.news { background: transparent url(/images/bkg_Panel.png) no-repeat; height: 150px; overflow: hidden; padding: 20px; width: 250px; }
#news-links { list-style: none; margin: 10px; padding: 0; }
#news-links a:hover { text-decoration: none; }

/* PRODUCTS */
#body div.tab { float: left; margin: 0 0 20px 20px; padding: 0; width: 376px; }
#body div.tab:first-child { margin-left: 0; }
#body div.tab h2 { background: transparent url(/images/bkg_Tab.png) no-repeat; height: 17px; margin-top: 0; padding: 10px 25px 10px 25px; width: 326px; }
#body div.tab h2 a { color: #068; }
#body div.tab ul { color: #000; font-size: 14px; line-height: 20px; list-style: circle outside url(/images/li_Bullet.png); }

/* NEWS */
#body div.year { min-height: 250px; padding: 0 0 0 100px; width: 700px; }
#body div.year h3 span.article_date { color: #068; font-size: 12px; font-weight: normal; }
#body div.year h3 a { color: inherit; }
#body div#y2008 { background: transparent url(/images/year_2008.png) no-repeat; }
#body div#y2009 { background: transparent url(/images/year_2009.png) no-repeat; }
#body div#y2010 { background: transparent url(/images/year_2010.png) no-repeat; }
#body div#y2011 { background: transparent url(/images/year_2011.png) no-repeat; }
#body div#y2012 { background: transparent url(/images/year_2012.png) no-repeat; }
#body div#y2013 { background: transparent url(/images/year_2013.png) no-repeat; }
#body div#y2014 { background: transparent url(/images/year_2014.png) no-repeat; }
#body div#y2015 { background: transparent url(/images/year_2015.png) no-repeat; }

/* CONTACT */
#body div#card { background: transparent url(/images/bkg_ContactInfo.png) no-repeat; height: 230px; margin: 0 20px; padding: 30px 30px 65px 360px; width: 370px; }
#body div#card ul { margin: 1em inherit; }
#body div#card ul li.email { list-style: circle outside url(/images/li_Email.png); }
#body div#card ul li.mail { list-style: circle outside url(/images/li_Mail.png); }
#body div#card ul li.phone { list-style: circle outside url(/images/li_Phone.png); }

/* USERS */
#body table { border-bottom: 2px solid #ccc; border-top: 2px solid #ccc; border-collapse: collapse; margin: 20px 0; width: 100%; }
#body table thead tr th { background: #068; color: #fff; padding: 3px; text-align: left; vertical-align: middle; }
#body table tbody tr:nth-child(even) { background-color: #e0ecef; }
#body table tbody tr td { padding: 3px; }

/* FORMS */
#body form h4 span.field_error_message { color: #900; font-style: italic; font-weight: normal; }

/* FLASH */
#error, #notice, #alert { background: transparent url(/images/bkg_Flash.png); border: 1px solid black; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -moz-box-shadow: 0 3px 6px rgba(32, 32, 32, 0.5); -webkit-box-shadow: 0 3px 6px rgba(32, 32, 32, 0.5); box-shadow: 0 3px 6px rgba(32, 32, 32, 0.5); color: #ccc; font: 10pt/12pt Verdana; left: 0; margin: auto; padding: 25px 25px 15px 25px; position: fixed; right: 0; text-align: left; top: 250px; width: 350px; z-index: 5; }
#error a.button, #notice a.button, #alert a.button { background-color: #333; border-color: #666; color: #999; text-shadow: 0 -1px 1px #000; }
#error a.button:hover, #notice a.button:hover, #alert a.button:hover { text-decoration: none; }












.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}