<tr>
	<td><%= link_to user.email, edit_user_path(user) %></td>
	<td><%= link_to "&times;".html_safe, user_path(user), :class => "delete", :confirm => "Are you sure you want to delete \"#{user.email}\"? This cannot be undone.", :method => :delete %></td>
</tr>