<% content_for :meta do -%>
<%= tag :meta, 'http-equiv'.to_sym => 'pragma', :content => 'no-cache' %>
<% end -%>
<div id="hero">
	<a href="http://www.wavetronix.com" target="_blank"><img src="/images/hero.png" alt="Hero image" /></a>
</div> <!-- END hero -->

<div class="panel_row">
	<div class="news panel">
		<h3>News Article Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /><a class="read_more" href="news.html">Read more&hellip;</a></p>
	</div> <!-- END panel -->
	
	<div class="panel">
		<a href="http://www.wavetronix.com" target="_blank"><img src="/images/panel_ClickManagedSwitches.png" /></a>
	</div> <!-- END panel -->
	
	<div class="panel last">
		<a href="http://www.jsftech.com/" target="_blank"><img src="/images/panel_JSFLights.png" /></a>
	</div> <!-- END panel -->
</div> <!-- END panel_row -->
