/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.debug_dump {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #666;
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-size: 13px;
  padding: 30px;
}

.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
}

.off-canvas-wrap {
  height: 100%;
  overflow-y: auto;
}

#manufacturers {
  li {
    h2 {
      font-size: 1.2rem;
    }
  }
}

#site-icon {
  background: image-url('icon.svg') no-repeat 0 50%;
  margin-left: 15px;
  padding-left: 23px;
}

#site-footer {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
  p {
    font-size: 0.8rem;
  }
}
