/* NEWS */
#body {
	div.year {
		min-height: 250px;
		padding: 0 0 0 100px;
		width: 700px;
		h3 {
			span.article_date { color: #068; font-size: 12px; font-weight: normal; }
			a { color: inherit; }
		}
	}
	div#y2008 { background: transparent image-url('year_2008.png') no-repeat; }
	div#y2009 { background: transparent image-url('year_2009.png') no-repeat; }
	div#y2010 { background: transparent image-url('year_2010.png') no-repeat; }
	div#y2011 { background: transparent image-url('year_2011.png') no-repeat; }
	div#y2012 { background: transparent image-url('year_2012.png') no-repeat; }
	div#y2013 { background: transparent image-url('year_2013.png') no-repeat; }
	div#y2014 { background: transparent image-url('year_2014.png') no-repeat; }
	div#y2015 { background: transparent image-url('year_2015.png') no-repeat; }
}
