@import "foundation_and_overrides";
@import "globals/all";

.site-icon {
  background: asset-url("icon.svg") no-repeat 0 50%;
  margin-left: rem-calc(15);
  padding-left: rem-calc(23) !important;
}

.offsite::after {
  content: "\f101";
  font-family: FontAwesome;
  margin-left: 0.33em;
}

.site-footer {
  border-top: 1px dotted $iron;
  color: $aluminum;
  margin-top: $global-vertical-spacing !important;
  padding-top: $global-vertical-spacing;

  li,
  p {
    font-size: 0.8rem;
  }
}
