/* CONTACT */
#body div#card {
	background: transparent image-url('bkg_ContactInfo.png') no-repeat;
	height: 230px;
	margin: 0 20px;
	padding: 30px 30px 65px 360px;
	width: 370px;
	ul {
		margin: 1em inherit;
		li.email { list-style: circle outside image-url('li_Email.png'); }
		li.mail { list-style: circle outside image-url('li_Mail.png'); }
		li.phone { list-style: circle outside image-url('li_Phone.png'); }
	}
}
