/* HOME PAGE */
#body {
	div#hero { height: 450px; margin: 0 -50px 10px -50px; padding: 0; width: 900px; }
	div.panel_row {
		height: 190px;
		margin: 0 -50px;
		width: 900px;
		div.panel {
			float: left;
			height: 190px;
			margin: 10px 0 20px 15px;
			padding: 0;
			width: 290px;
			&:first-child { margin-left: 0; }
		}
		div.news { background: transparent image-url('bkg_Panel.png') no-repeat; height: 150px; overflow: hidden; padding: 20px; width: 250px; }
	}
}

#news-links {
	list-style: none;
	margin: 10px;
	padding: 0;
	a:hover { text-decoration: none; }
}
