/* USERS */
#body table {
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-collapse: collapse;
	margin: 20px 0;
	width: 100%;
	thead tr th { background: #068; color: #fff; padding: 3px; text-align: left; vertical-align: middle; }
	tbody tr {
		&:nth-child(even) { background-color: #e0ecef; }
		td { padding: 3px; }
	}
}
