<footer class="site-footer row">
  <div class="medium-12 columns">
    <p class="small-only-text-center">&copy; <%= Time.now.year %> Summit Traffic Solutions, LLC.</p>
    <p class="text-center">
      <%= link_to "http://www.wavetronix.com", target: "_blank" do %>
        <%= image_tag "badge_WavetronixDistributor.svg", alt: "Wavetronix Distributor", class: "badge" %>
      <% end %>
    </p>
  </div>
</footer>
