<h1 id="page_title">Products</h1>

<div style="clear: both;">
	<div class="tab">
		<h2><a href="http://www.wavetronix.com" target="_blank">Wavetronix</a></h2>
		<ul>
			<li>connectivity devices</li>
			<li>data appliances</li>
			<li>radar sensors</li>
		</ul>
	</div> <!-- END tab -->
	<div class="tab">
		<h2><a href="http://www.impathnetworks.com/" target="_blank">iMPath Networks</a></h2>
		<ul>
			<li>cameras</li>
			<li>encoders/decoders</li>
			<li>recording systems</li>
			<li>video management solutions</li>
		</ul>
	</div> <!-- END tab -->
</div>
<div style="clear: both;">
	<div class="tab">
		<h2><a href="http://www.cameralowering.com/" target="_blank">Camera Lowering Systems</a></h2>
		<ul>
			<li>camera lowering systems</li>
		</ul>
	</div> <!-- END tab -->
	<div class="tab">
		<h2><a href="http://www.tescocontrols.com/traffic.htm" target="_blank">Tesco</a></h2>
		<ul>
			<li>service pedestals</li>
			<li>traffic signal battery backup</li>
		</ul>
	</div> <!-- END tab -->
</div>
<div style="clear: both;">
	<div class="tab">
		<h2><a href="http://www.vicon-cctv.com/" target="_blank">Vicon Industries</a></h2>
		<ul>
			<li>camera dome systems</li>
			<li>digital video and IP solutions</li>
			<li>housings and mounting equipment</li>
		</ul>
	</div> <!-- END tab -->
	<div class="tab">
		<h2><a href="http://www.tassimco.com/" target="_blank">Tassimco Technologies</a></h2>
		<ul>
			<li>LED multiple message signs</li>
			<li>pedestrian countdown signals</li>
		</ul>
	</div> <!-- END tab -->
</div>
<div style="clear: both;">
	<div class="tab">
		<h2><a href="http://www.tomar.com/" target="_blank">Tomar</a></h2>
		<ul>
			<li>traffic preemption</li>
			<li>vehicle systems</li>
		</ul>
	</div> <!-- END tab -->
	<div class="tab">
		<h2><a href="http://www.jsftech.com/" target="_blank">JSF Technologies</a></h2>
		<ul>
			<li>solar-powered crosswalk lights</li>
		</ul>
	</div> <!-- END tab -->
</div>
